# Core dependencies
numpy>=1.24.0
pandas==2.2.3

# AI and Machine Learning
langchain-community==0.3.8
langchain-openai==0.2.11
langgraph==0.2.53
tavily-python>=0.2.0
langchain-tavily==0.1.5
pydantic==2.9.2


# Financial Analysis and Optimization
yfinance>=0.2.0
scipy>=1.10.0

# Data Processing and Visualization
matplotlib>=3.7.0
seaborn>=0.12.0

# Data Analysis
scikit-learn>=1.3.0
statsmodels>=0.14.0
